
/* Global */

html
{
 height:100%;
 overflow:hidden;
}

body{
    font-family: 'Oswald', sans-serif;
    height:100%;
}

/* END */

/* Utility */

.center
{
    margin: 0 auto;
}

.base_size
{
    max-width:1080px;
    width:100%;
}

.flex
{
    display:flex;
}

.totalWrapper
{
    align-items:center;
    flex-wrap:wrap;
    height:100%;
}

/* End Utility */

/* name Bar */

.nameBar
{
    border-bottom:20px solid #ffcc00;
    border-right:20px solid #ffcc00;
    border-top:20px solid #ffcc00;
    box-sizing: border-box;
    height:64%;
    position:relative;
    width:35%;
}

.nameBar h1
{
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    position: absolute;
    top: 20%;
    right: -155px;
}

.nameBar h1 .miniTitle
{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 300;
    position: absolute;
    right: 40px;
    text-transform: uppercase;

}

/* End nameBar */

/* Main Content */


.mainContent
{
    height: 100%;
    perspective: 1000px;
    width:59%;
}

.itemsWrapper
{
    transform: translateZ( -100px );
    height: 100%;
    position: relative;
    -webkit-transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: transform 1s;
    -moz-transition: transform 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: transform 1s;
    transform-style: preserve-3d;
    width:100%;

}


.itemContent
{
    backface-visibility: hidden;
    height:100%;
    left: 0;
    position: absolute;
    top: 0;
    width:100%;
}


.rotateHome {
    transform: translateZ( 0px ) rotateY(    0deg );
}

.rotateAbout {
    transform: translateZ( -570px ) rotateX( -180deg );
}


.rotateSkills {
    transform: translateZ( -570px ) rotateY(  -90deg );
}

.rotateContact{
    transform: translateZ( -570px ) rotateY(   90deg );
}


.itemHome
{
    align-items:flex-end;
    justify-content:center;
    /* for firefox 31 */
    transform: rotateY(0deg);
    z-index: 2;

}

.itemHome img
{
    max-height:100%;
}

.itemAbout
{
    align-items:center;
    justify-content:center;
    transform: rotateX( 180deg ) translateZ( 570px );
}

.itemSkills
{
    align-items:center;
    justify-content:center;
    transform: rotateY(  90deg ) translateZ( 570px );
}


.itemContact
{
    align-items:center;
    justify-content:center;
    transform: rotateY( -90deg ) translateZ( 570px );
}


.contentAbout
{
    background:url('../images/ilustration-head.png') #ffcc00 bottom right no-repeat;
    color:#FFFFFF;
    height: 80%;
    padding: 3%;
    width: 55%;
}


.contentSkills
{
    background:#000000;
    color:#FFFFFF;
    height: 80%;
    padding: 3%;
    width: 55%;
}


.contentContact
{
    background:#15af61;
    color:#FFFFFF;
    height: 80%;
    padding: 3%;
    width: 55%;
}

.itemContent h3
{
    font-size: 80px;
    margin:0;
}

.itemRotate
{
    transform: rotateY(180deg);
}
/* end Main Content */

/* Main Navigation Menu */


.mainMenu
{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 8%;
}

.navigationMenu
{
    width:6%;
}

.itemMenu
{
    align-items:center;
    border:3px solid #ffce09;
    box-sizing:border-box;
    cursor:pointer;
    justify-content:center;
    list-style:none;
    height:65px;
    margin-bottom:35px;
    -webkit-transition:transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transform: rotate(35deg);
    width:80%;
}

.itemMenu i
{
    -webkit-transition:transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    font-size:1.40rem;
    transform: rotate(325deg);
}

.itemMenu:hover
{
    transform: rotate(360deg);
}

.itemMenu:hover i
{
    transform: rotate(0deg);
}



/* end Navigation Menu */


@media all and (max-width: 1380px)
{
    .nameBar h1
    {
        top: 14%;
    }

    .mainContent
    {
        width:57%;
    }

    .navigationMenu
    {
        width:8%
    }

    .itemHome img
    {
        max-height: 650px;
    }
}


@media all and (max-width: 1024px)
{
    html
    {
        overflow-y: visible;
    }

    .mainContent
    {
        width: 89%;
    }
    
    .nameBar {
        border-bottom: 15px solid #ffcc00;
        border-left: 15px solid #ffcc00;
        border-right: 15px solid #ffcc00;
        box-sizing: border-box;
        display:flex;
        height: 208px;
        justify-content: center;
        width: 100%;
    }

    .nameBar h1
    {
        font-size: 75px;
        left:inherit;
        margin:0;
        padding:0;
        position:relative;
        right: inherit;
        top:inherit;

    }

    .nameBar h1 .miniTitle
    {
        left: 98px;
        font-size: 40px;
        position: relative;
        right: inherit;
        top: inherit;
    }
}


@media all and (max-width: 768px)
{
    .mainContent
    {
        height: 584px;
    }
    .itemHome img {
        max-height: 550px;
    }
}